@inject IHttpContextAccessor _httpContextAccessor
@using RebelCmsTemplate.Models.Application
@using RebelCmsTemplate.Repository.Application
@using RebelCmsTemplate.Util;
@using Microsoft.AspNetCore.Http
@{
    SharedUtil sharedUtils = new(_httpContextAccessor);
    List<ShipperModel> shipperModels = new();
    try
    {
        ShipperRepository shipperRepository = new(_httpContextAccessor);
        shipperModels = shipperRepository.Read();
    }
    catch (Exception ex)
    {
        sharedUtils.SetSystemException(ex);
    }
    var fileInfo = ViewContext.ExecutingFilePath?.Split("/");
    var filename = fileInfo != null ? fileInfo[4] : "";
    var name = filename.Split(".")[0];
    var navigationModel = sharedUtils.GetNavigation(name);
}
<div class="page-title">
    <div class="row">
        <div class="col-12 col-md-6 order-md-1 order-last">
            <h3>@navigationModel.LeafName</h3>
        </div>
        <div class="col-12 col-md-6 order-md-2 order-first">
            <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="#">
                            <i class="@navigationModel.FolderIcon"></i> @navigationModel.FolderName
                        </a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                        <i class="@navigationModel.LeafIcon"></i> @navigationModel.LeafName
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                        <i class="fas fa-file-excel"></i>
                        <a href="#" onclick="excelRecord()">Excel</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                        <i class="fas fa-sign-out-alt"></i>
                        <a href="/logout">Logout</a>
                    </li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<section class="content">
    <div class="container-fluid">
        <form class="form-horizontal">
            <div class="card card-primary">
                <div class="card-header">Filter</div>
                <div class="card-body">
                    <div class="form-group">
                        <div class="col-md-2">
                            <label for="search">Search</label>
                        </div>
                        <div class="col-md-10">
                            <input name="search" id="search" class="form-control"
                                placeholder="Please Enter Name  Or Other Here" maxlength="64"
                                style="width: 350px!important;" />
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-info" onclick="searchRecord()">
                        <i class="fas fa-filter"></i> Filter
                    </button>
                    &nbsp;
                    <button type="button" class="btn btn-warning" onclick="resetRecord()">
                        <i class="fas fa-power-off"></i> Reset
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">&nbsp;</div>
            </div>
        </form>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="card">
                    <table class="table table-bordered table-striped table-condensed table-hover" id="tableData">
                        <thead>
                            <tr>
                                <td>
                                    <label>
                                        <input type="text" name="shipperName" id="shipperName" class="form-control" />
                                    </label>
                                </td>
                                <td>
                                    <label>
                                        <input type="text" name="shipperPhone" id="shipperPhone" class="form-control" />
                                    </label>
                                </td>
                                <td style="text-align: center">
                                    <Button type="button" class="btn btn-info" onclick="createRecord()">
                                        <i class="fa fa-newspaper"></i>&nbsp;&nbsp;CREATE
                                    </Button>
                                </td>
                            </tr>
                            <tr>
                                <th>Name</th>
                                <th>Phone</th>
                                <th style="width: 230px">Process</th>
                            </tr>
                        </thead>
                        <tbody id="tableBody">
                            @foreach (var row in shipperModels)
                            {
                                <tr id='shipper-@row.ShipperKey'>
                                    <td>
                                        <label>
                                            <input type="text" name="shipperName" id="shipperName-@row.ShipperKey"
                                            value="@row.ShipperName" class="form-control" />
                                        </label>
                                    </td>
                                    <td>
                                        <label>
                                            <input type="text" name="shipperPhone" id="shipperPhone-@row.ShipperKey"
                                            value="@row.ShipperPhone" class="form-control" />
                                        </label>
                                    </td>
                                    <td style="text-align: center">
                                        <div class="btn-group">
                                            <Button type="button" class="btn btn-warning"
                                            onclick="updateRecord(@row.ShipperKey)">
                                                <i class="fas fa-edit"></i>&nbsp;UPDATE
                                            </Button>
                                            &nbsp;
                                            <Button type="button" class="btn btn-danger"
                                            onclick="deleteRecord(@row.ShipperKey)">
                                                <i class="fas fa-trash"></i>&nbsp;DELETE
                                            </Button>
                                        </div>
                                    </td>
                                </tr>
                            }
                            @if (shipperModels.Count == 0)
                            {
                                <tr>
                                    <td colspan="7" class="noRecord">
                                        @SharedUtil.NoRecord
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    function resetRecord() {
        readRecord();
        $("#search").val("");
    }
    function emptyTemplate() {
        return "<tr><td colspan='4'>It's lonely here</td></tr>";
    }
    function template(shipperKey, shipperName, shipperPhone) {

        return "" +
            "<tr id='shipper-" + shipperKey + "'>" +
            "<td>" +
            "<label>" +
            "<input type='text' name='shipperName' id='shipperName-" + shipperKey + "'' value='" + shipperName + "' class='form-control' />" +
            "</label>" +
            "</td>" +
            "<td>" +
            "<label>" +
            "<input type='text' name='shipperPhone' id='shipperPhone-" + shipperKey + "'' value='" + shipperPhone + "' class='form-control' />" +
            "</label>" +
            "</td>" +
            "<td style='text-align: center'><div class='btn-group'>" +
            "<Button type='button' class='btn btn-warning' onclick='updateRecord(" + shipperKey + ")'>" +
            "<i class='fas fa-edit'></i> UPDATE" +
            "</Button>" +
            "&nbsp;" +
            "<Button type='button' class='btn btn-danger' onclick='deleteRecord(" + shipperKey + ")'>" +
            "<i class='fas fa-trash'></i> DELETE" +
            "</Button>" +
            "</div></td>" +
            "</tr>";
    }
    function createRecord() {
        const $shipperName = $("#shipperName");
        const $shipperPhone = $("#shipperPhone");
        if ($shipperName.val().length === 0) {
            Swal.fire("System Error", "Please Enter all the form", "error");
            $shipperName.addClass("is-invalid").trigger('focus');
        } else {
            $shipperName.removeClass("is-invalid");
            $.ajax({
                type: 'POST',
                url: "api/application/shipper",
                async: false,
                data: {
                    mode: 'create',
                    leafCheckKey: @navigationModel.LeafCheckKey,
                    shipperName: $shipperName.val(),
                    shipperPhone: $shipperPhone.val(),
                }, statusCode: {
                    500: function () {
                        Swal.fire("System Error", "@SharedUtil.UserErrorNotification", "error");
                    }
                },
                beforeSend: function () {
                    console.log("loading ..");
                }
            }).done(function (data) {
                if (data === void 0) {
                    location.href = "/";
                }
                let status = data.status;
                let code = data.code;
                if (status) {
                    $("#tableBody").prepend(template(data.lastInsertKey, $shipperName.val(), $shipperPhone.val()));
                    Swal.fire({
                        title: 'Success!',
                        text: '@SharedUtil.RecordCreated',
                        icon: 'success',
                        confirmButtonText: 'Cool'
                    });
                    $shipperName.val('');
                    $shipperPhone.val('');
                } else if (status === false) {
                    if (parseInt(code) === accessDeniedCode) {
                        accessDenied();
                    } else if (typeof (code) === 'string') {
                        callBackError();
                    } else {
                        location.href = "/";
                    }
                } else {
                    location.href = "/";
                }
            }).fail(function (xhr) {
                console.log(xhr.status);
                Swal.fire("System", "@SharedUtil.UserErrorNotification", "error");
            }).always(function () {
                console.log("always:complete");
            });
        }
    }
    function readRecord() {
        $.ajax({
            type: "post",
            url: "api/application/shipper",
            async: false,
            contentType: "application/x-www-form-urlencoded",
            data: {
                mode: "read",
                leafCheckKey: @navigationModel.LeafCheckKey,
            }, statusCode: {
                500: function () {
                    Swal.fire("System Error", "@SharedUtil.UserErrorNotification", "error");
                }
            }, beforeSend() {
                console.log("loading ..");
            }
        }).done(function (data) {
            if (data === void 0) {
                location.href = "/";
            }
            let status = data.status;
            let code = data.code;
            if (status) {
                if (data.data === void 0) {
                    $("#tableBody").html("").html(emptyTemplate());
                } else {
                    if (data.data.length > 0) {
                        let templateStringBuilder = "";
                        for (let i = 0; i < data.data.length; i++) {
                            let row = data.data[i];
                            templateStringBuilder += template(row.shipperKey, row.shipperName, row.shipperPhone);
                        }
                        $("#tableBody").html("").html(templateStringBuilder);
                    } else {
                        $("#tableBody").html("").html(emptyTemplate());
                    }
                }
            } else if (status === false) {
                if (parseInt(code) === accessDeniedCode) {
                    accessDenied();
                } else if (typeof (code) === 'string') {
                    callBackError();
                } else {
                    location.href = "/";
                }
            } else {
                location.href = "/";
            }
        }).fail(function (xhr) {
            console.log(xhr.status);
            Swal.fire("System", "@SharedUtil.UserErrorNotification", "error");
        }).always(function () {
            console.log("always:complete");
        });
    }
    function searchRecord() {
        $.ajax({
            type: "post",
            url: "api/application/shipper",
            async: false,
            contentType: "application/x-www-form-urlencoded",
            data: {
                mode: "search",
                leafCheckKey: @navigationModel.LeafCheckKey,
                search: $("#search").val()
            },
            statusCode: {
                500: function () {
                    Swal.fire("System Error", "@SharedUtil.UserErrorNotification", "error");
                }
            }, beforeSend() {
                console.log("loading ..");
            }
        }).done(function (data) {
            if (data === void 0) { location.href = "/"; }
            let status = data.status;
            let code = data.code;
            if (status) {
                if (data.data === void 0) {
                    $("#tableBody").html("").html(emptyTemplate());
                } else {
                    if (data.data.length > 0) {
                        let templateStringBuilder = "";
                        for (let i = 0; i < data.data.length; i++) {
                            let row = data.data[i];
                            templateStringBuilder += template(row.shipperKey, row.shipperName, row.shipperPhone);
                        }
                        $("#tableBody").html("").html(templateStringBuilder);
                    } else {
                        $("#tableBody").html("").html(emptyTemplate());
                    }
                }
            } else if (status === false) {
                if (parseInt(code) === accessDeniedCode) {
                    accessDenied();
                } else if (typeof (code) === 'string') {
                    callBackError();
                } else {
                    location.href = "/";
                }
            } else {
                location.href = "/";
            }
        }).fail(function (xhr) {
            console.log(xhr.status);
            Swal.fire("System", "@SharedUtil.UserErrorNotification", "error");
        }).always(function () {
            console.log("always:complete");
        });
    }
    function excelRecord() {
        window.open("api/application/shipper");
    }
    function updateRecord(shipperKey) {
        const $supplierName = $("#shipperName-" + shipperKey);
        const $supplierPhone = $("#shipperPhone-" + shipperKey);
        if ($supplierName.val().length === 0) {
            Swal.fire("System Error", "Please Enter all the form", "error");
            $supplierName.addClass("is-invalid").trigger('focus');
        } else {
            $supplierName.removeClass("is-invalid");
            $.ajax({
                type: 'POST',
                url: "api/application/shipper",
                async: false,
                data: {
                    mode: 'update',
                    leafCheckKey: @navigationModel.LeafCheckKey,
                    shipperKey: shipperKey,
                    shipperName: $supplierName.val(),
                    shipperPhone: $supplierPhone.val(),
                }, 
                statusCode: {
                    500: function () {
                        Swal.fire("System Error", "@SharedUtil.UserErrorNotification", "error");
                    }
                },
                beforeSend: function () {
                    console.log("loading..");
                }
            }).done(function (data) {
                if (data === void 0) {
                    location.href = "/";
                }
                let status = data.status;
                let code = data.code;
                if (status) {
                    Swal.fire("System", "@SharedUtil.RecordUpdated", 'success')
                } else if (status === false) {
                    if (parseInt(code) === accessDeniedCode) {
                        accessDenied();
                    } else if (typeof (code) === 'string') {
                        callBackError();
                    } else {
                        location.href = "/";
                    }
                } else {
                    location.href = "/";
                }
            }).fail(function (xhr) {
                console.log(xhr.status);
                Swal.fire("System", "@SharedUtil.UserErrorNotification", "error");
            }).always(function () {
                console.log("always:complete");
            });
        }
    }
    function deleteRecord(shipperKey) {
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Yes, delete it!',
            cancelButtonText: 'No, cancel!',
            reverseButtons: true
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: 'POST',
                    url: "api/application/shipper",
                    async: false,
                    data: {
                        mode: 'delete',
                        leafCheckKey: @navigationModel.LeafCheckKey,
                        shipperKey: shipperKey
                    }, statusCode: {
                        500: function () {
                            Swal.fire("System Error", "@SharedUtil.UserErrorNotification", "error");
                        }
                    },
                    beforeSend: function () {
                        console.log("loading..");
                    }
                }).done(function (data) {
                    if (data === void 0) { location.href = "/"; }
                    let status = data.status;
                    let code = data.code;
                    if (status) {
                        $("#shipper-" + shipperKey).remove();
                        Swal.fire("System", "@SharedUtil.RecordDeleted", "success");
                    } else if (status === false) {
                        if (parseInt(code) === accessDeniedCode) {
                            accessDenied();
                        } else if (typeof (code) === 'string') {
                            callBackError();
                        } else {
                            location.href = "/";
                        }
                    } else {
                        location.href = "/";
                    }
                }).fail(function (xhr) {
                    console.log(xhr.status);
                    Swal.fire("System", "@SharedUtil.UserErrorNotification", "error");
                }).always(function () {
                    console.log("always:complete");
                });
            } else if (result.dismiss === swal.DismissReason.cancel) {
                Swal.fire({
                    icon: 'error',
                    title: 'Cancelled',
                    text: 'Be careful before delete record'
                })
            }
        });
    }
</script>